<?xml version="1.0"?>
<configuration>

  <system.web>
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
		<!-- Enable as needed -->
        <!-- <add name="Access-Control-Allow-Origin" value="*" /> -->
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Detailed" />
    <iisnode devErrorsEnabled="false" loggingEnabled="false" />
    
    <handlers>
      <add name="iisnode" path="proxy.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
		<!-- index.html as the root -->
        <rule name="index" patternSyntax="ECMAScript" stopProcessing="true" >          
          <match url="^$" />
          <action type="Rewrite" url="index.html" />
        </rule>
		<!-- Route everything in the zumo subdirectory to the proxy -->
        <rule name="server">
          <match url="zumo/*" />
          <conditions>
          </conditions>
          <action type="Rewrite" url="proxy.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <appSettings>
  </appSettings>
  
</configuration>
